In [1]:
import pandas as pd

census_df = pd.read_csv('https://storage.googleapis.com/py_ml_datasets/census.csv')
census_df.shape

(3193, 100)

In [2]:
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [3]:
census_df.tail()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [4]:
census_df["STNAME"].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [5]:
census_df["CTYNAME"].unique()

array(['Alabama', 'Autauga County', 'Baldwin County', ..., 'Uinta County',
       'Washakie County', 'Weston County'], dtype=object)

問題一:
哪一個州（state）的郡（county）數最多？（注意 SUMLEV 變數）

In [6]:
filtered_df = census_df[census_df["SUMLEV"] == 50]
filtered_df.groupby("STNAME")["CTYNAME"].count().idxmax()

'Texas'

問題二:
假如僅考慮每州（state）人口最多的三個郡（county）計算人口總和，哪三個州總和數最多？（利用 CENSUS2010POP 變數）

方法一

In [7]:
county_df = census_df[census_df["SUMLEV"] == 50]
county_df.shape

(3142, 100)

In [8]:
states = county_df["STNAME"].unique()
top3_pop_list = []
for state in states:
    county = county_df[county_df["STNAME"] == state]
    county = county.sort_values("CENSUS2010POP", ascending = False)
    top3_pop = county["CENSUS2010POP"][:3].sum()
    top3_pop_list.append(top3_pop)
top3_ser = pd.Series(top3_pop_list, index=states)
top3_ser

Alabama                  1406269
Alaska                    478402
Arizona                  5173150
Arkansas                  807152
California              15924150
Colorado                 1794424
Connecticut              2673320
Delaware                  897934
District of Columbia      601723
Florida                  5564635
Georgia                  2417795
Hawaii                   1293120
Idaho                     719782
Illinois                 6815061
Indiana                  1754727
Iowa                      807090
Kansas                   1220478
Kentucky                 1196619
Louisiana                1216552
Maine                     632728
Maryland                 2640226
Massachusetts            3044796
Michigan                 3863924
Minnesota                2059617
Mississippi               593642
Missouri                 2033597
Montana                   348199
Nebraska                  961357
Nevada                   2427950
New Hampshire             842389
New Jersey               2498943
New Mexico               1015967
New York                 6321295
North Carolina           2309027
North Dakota              297947
Ohio                     3245910
Oklahoma                 1577791
Oregon                   1641036
Pennsylvania             3549228
Rhode Island              919804
South Carolina           1185938
South Dakota              315244
Tennessee                1986551
Texas                    8269632
Utah                     1852698
Vermont                   277721
Virginia                 1921722
Washington               3439809
West Virginia             393551
Wisconsin                1825699
Wyoming                   213321
dtype: int64

In [9]:
top3_ser.sort_values(ascending=False)[:3]

California    15924150
Texas          8269632
Illinois       6815061
dtype: int64

方法二：透過 nlargest()

In [10]:
groupby_summary = county_df.groupby("STNAME")["CENSUS2010POP"].nlargest(3)
print(type(groupby_summary)) # Series
print(groupby_summary)

<class 'pandas.core.series.Series'>
STNAME
Alabama               37       658466
                      49       412992
                      45       334811
Alaska                71       291826
                      76        97581
                      85        88995
Arizona               106     3817117
                      109      980263
                      110      375770
Arkansas              174      382748
                      118      221339
                      186      203065
California            209     9818605
                      227     3095313
                      220     3010232
Colorado              271      622263
                      266      600158
                      252      572003
Connecticut           315      916829
                      316      894014
                      319      862477
Delaware              325      538479
                      326      197145
                      324      162310
District of Columbia  328      601723
Florida               372     2496435
                      335     1748066
                      379     1320134
Georgia               457      920581
                      464      805321
                               ...
South Dakota          2452     169468
                      2455     100948
                      2444      44828
Tennessee             2549     927644
                      2489     626681
                      2517     432226
Texas                 2667    4092459
                      2623    2368139
                      2786    1809034
Utah                  2839    1029655
                      2846     516564
                      2827     306479
Vermont               2855     156545
                      2862      61642
                      2863      59534
Virginia              2895    1081726
                      2996     437994
                      2939     402002
Washington            3017    1931249
                      3027     795225
                      3031     713335
West Virginia         3060     193063
                      3042     104169
                      3046      96319
Wisconsin             3137     947735
                      3109     488073
                      3164     389891
Wyoming               3180      91738
                      3182      75450
                      3172      46133
Name: CENSUS2010POP, Length: 151, dtype: int64

In [11]:
groupby_summary_df = pd.DataFrame(groupby_summary).reset_index()
groupby_summary_df.groupby("STNAME")["CENSUS2010POP"].sum().nlargest(3)

STNAME
California    15924150
Texas          8269632
Illinois       6815061
Name: CENSUS2010POP, dtype: int64

問題三:
哪個郡（county）在 2010-2015 期間人口改變數量的絕對值最高？
- 考慮 POPESTIMATE2010 到 POPESTIMATE2015 這六個變數） 
- 提示：如果 6 年的人口數分別為 100, 120, 80, 105, 100, 130, 120 則人口改變數量的絕對值為 |130-80| = 50

In [12]:
county_df_index = county_df.index
pop_diff = []
for i in county_df_index:
    single_county = county_df.loc[i, "POPESTIMATE2010":"POPESTIMATE2015"]
    max_pop = single_county.max()
    min_pop = single_county.min()
    diff_pop = max_pop - min_pop
    pop_diff.append(diff_pop)
print(len(pop_diff))

3142

In [13]:
ans_df = pd.DataFrame()
ans_df["state"] = county_df["STNAME"].values
ans_df["county"] = county_df["CTYNAME"].values
ans_df["pop_diff"] = pop_diff
ans_df.head()

     state          county  pop_diff
0  Alabama  Autauga County       687
1  Alabama  Baldwin County     20516
2  Alabama  Barbour County       852
3  Alabama     Bibb County       349
4  Alabama   Blount County       403

In [14]:
max_pop_diff = ans_df["pop_diff"].max()
ans_df[ans_df["pop_diff"] == max_pop_diff]

      state         county  pop_diff
2623  Texas  Harris County    429841

In [15]:
ans_df[ans_df["county"] == "Harris County"]

        state         county  pop_diff
458   Georgia  Harris County      1224
2623    Texas  Harris County    429841

In [16]:
ans_df.groupby("county")["county"].count().sort_values(ascending = False).head()

county
Washington County    30
Jefferson County     25
Franklin County      24
Lincoln County       23
Jackson County       23
Name: county, dtype: int64

In [17]:
county_df.loc[:, "POPESTIMATE2010":"POPESTIMATE2015"].head()

,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,54660,55253,55175,55038,55290,55347
2,183193,186659,190396,195126,199713,203709
3,27341,27226,27159,26973,26815,26489
4,22861,22733,22642,22512,22549,22583
5,57373,57711,57776,57734,57658,57673

In [18]:
max_population = county_df.loc[:, "POPESTIMATE2010":"POPESTIMATE2015"].max(axis=1)
min_population = county_df.loc[:, "POPESTIMATE2010":"POPESTIMATE2015"].min(axis=1)
diff_population = max_population - min_population
ans_df = pd.DataFrame()
ans_df["state"] = county_df["STNAME"].values
ans_df["county"] = county_df["CTYNAME"].values
ans_df["pop_diff"] = diff_population.values
ans_df = ans_df.set_index("county")
#ans_df.loc["Harris County", :]
print(ans_df["pop_diff"].idxmax())

Harris County

問題四:
篩選出屬於 REGION 1 或 2、CTYNAME 開頭名稱為 Washington 並且 POPESTIMATE2015 大於 POPESTIMATE2014 的郡（county）

In [20]:
filtered_df = census_df[(census_df["REGION"] == 1) | (census_df["REGION"] == 2)]
filtered_df = filtered_df[filtered_df["CTYNAME"].str.contains("Washington")]
filtered_df = filtered_df[filtered_df["POPESTIMATE2015"]>filtered_df["POPESTIMATE2014"]]
filtered_df.loc[:,["STNAME","CTYNAME"]]

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County